# =========================
# Node / Frontend
# =========================
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

**/node_modules/
# =========================
# Laravel / Backend
# =========================
/vendor
.env
.phpunit.result.cache

/storage/*.key
/storage/logs
/storage/framework
/public/storage
/storage/app/firebase-auth.json
/storage/app/platepilot-a0df3-firebase-adminsdk-fbsvc-7fefa4d366.json
/public/themes/tlcommerce
/storage/tenant4671fc26-8e3a-48b0-b4e3-7f388634f8b7/logs/myfatoorah.log

# =========================
# Build artifacts
# =========================
/public/hot
/public/build
/public/mix-manifest.json

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
