# =========================
# Node / Frontend
# =========================
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

**/node_modules/
# =========================
# Laravel / Backend
# =========================
/vendor
.env
.phpunit.result.cache

/storage/*.key
/storage/logs
storage/tenant*/logs/*.log
/storage/framework
/public/storage
/storage/app/firebase-auth.json
/storage/app/platepilot-a0df3-firebase-adminsdk-fbsvc-7fefa4d366.json
/public/themes/tlcommerce

# =========================
# Build artifacts
# =========================
/public/hot
/public/build
/public/mix-manifest.json
public/tenant/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
.cursor
